@model ResetPasswordVM
@{
    ViewData["Title"] = "UpdatePassword";
}
<div class="text-center">
    <h1>Şifrəni dəyiş</h1>

</div>
<div class="container">
    <div class="body">
        <form method="post">
            <div class="form-group form-float">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>



          
                <div class="form-group form-float">
                    <label class="form-label">Şifrə  <span class="font-bold col-pink"></span></label>
                    <div class="form-line">
                        <input asp-for="Password" type="password" class="form-control">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                <div class="form-group form-float">
                    <label class="form-label">Şifrə təkrarı <span class="font-bold col-pink"></span></label>
                    <div class="form-line">
                        <input asp-for="CheckPassword" type="password" class="form-control">
                    </div>
                    <span asp-validation-for="CheckPassword" class="text-danger"></span>

                </div>

                <br>
                <div class="text-center">
                    <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Geri qayıt</a>
                    <button type="submit" class="btn btn-success">Yarat</button>
                </div>

            </div>


        </form>
    </div>


</div>








@section Scripts{

    <partial name="_ValidationScriptsPartial" />

}
