@model Authors
<div class="text-center">
    <h1>Yazıçı yarat</h1>
</div>
<div class="container">
    <div>
        <div class="body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group form-float">

                    <label class="form-label">Yazıçı adı  <span class="font-bold col-pink"></span></label>
                    <div class="form-line">
                        <input asp-for="Name" class="form-control">
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group form-float">

                    <label class="form-label">Yazıçı soyadı  <span class="font-bold col-pink"></span></label>
                    <div class="form-line">
                        <input asp-for="Surname" class="form-control">
                    </div>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>

         
                <div class="form-group form-float">
                    <label class="form-label">Yazıçının şəkili <span class="font-bold col-pink"></span></label>
                    <div class="form-line">
                        <input asp-for="BirthDate" class="form-control">
                    </div>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>

                </div>
                <div class="form-group form-float">
                    <label class="form-label">Yazıçı haqqında <span class="font-bold col-pink"></span></label>
                    <div class="form-line">
                        <input asp-for="Description" class="form-control">
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="form-group form-float">
                    <label class="form-label">Yazıçının şəkili <span class="font-bold col-pink"></span></label>
                    <div class="form-line">
                        <input asp-for="AuthorPhoto" class="form-control">
                    </div>
                    <span asp-validation-for="AuthorPhoto" class="text-danger"></span>

                </div>
                <br>
                <div class="text-center">
                    <a asp-controller="Authors" asp-action="Index" class="btn btn-primary">Geri qayıt</a>
                    <button type="submit" class="btn btn-success"><i class="fa-thin fa-calendar-lines-pen"></i>Yarat</button>
                </div>

            </form>
        </div>

    </div>
</div>
